

{% liquid
  assign block_settings = block.settings
  assign alt_text_fallback = 'accessibility.home_logo_alt' | t: store_name: shop.name
  assign logo_style = '--header-logo-image-height: ' | append: settings.logo_height | append: 'px; --header-logo-image-height-mobile: ' | append: settings.logo_height_mobile | append: 'px;'
%}

{% comment %}
  Output all logo variants, use CSS to hide/show the appropriate one
  based on the .header--transparent selector on the #header-component
{% endcomment %}
<a
  {% if template.name == 'index' and block_settings.hide_logo_on_home_page %}
    data-hidden-on-home-page
  {% endif %}
  href="{{ routes.root_url }}"
  class="size-style spacing-style header-logo logo"
  style="
    {% render 'size-style', settings: block_settings %}
    {% render 'spacing-style', settings: block_settings %}
    --font-family: var(--font-body--family);
    --font-style: var(--font-body--style);
    --font-weight: 600;
  "
  {{ block.shopify_attributes }}
>
  <span
    class="header-logo__image-container header-logo__image-container--original"
    data-testid="header-logo"
  >
    {% if block.settings.logo_gradient != blank %}
      {{ block.settings.logo_gradient | image_url: height: settings.logo_height | image_tag: class: 'header-logo__image', loading: 'eager', style: logo_style, alt: alt_text_fallback }}
    {% else %}
      {{ shop.name }}
    {% endif %}
  </span>

  <span
    class="header-logo__image-container header-logo__image-container--inverse"
    data-testid="header-logo-inverse"
  >
    {% if block.settings.logo_transparent != blank %}
      {{ block.settings.logo_transparent | image_url: height: settings.logo_height | image_tag: class: 'header-logo__image', loading: 'eager', style: logo_style, alt: alt_text_fallback }}
    {% elsif block.settings.logo_gradient != blank %}
      {{ block.settings.logo_gradient | image_url: height: settings.logo_height | image_tag: class: 'header-logo__image', loading: 'eager', style: logo_style, alt: alt_text_fallback }}
    {% else %}
      {{ shop.name }}
    {% endif %}
  </span>
</a>

{% stylesheet %}
  .header-logo {
    display: flex;
    height: 100%;
    font-size: var(--font-size--md);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--color-foreground);
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &[data-hidden-on-home-page] {
      display: none;

      #header-component:is(
          [sticky='always']:not([data-scroll-direction='none']),
          [sticky='scroll-up'][data-scroll-direction='up']
        )
        & {
        display: flex;
      }
    }

    @media screen and (max-width: 749px) {
      padding: 0;
    }

    @media screen and (min-width: 750px) {
      flex-shrink: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .header-logo__image {
    object-fit: contain;
    height: var(--header-logo-image-height-mobile);
    width: auto;

    @media screen and (min-width: 750px) {
      height: var(--header-logo-image-height);
      width: auto;
    }
  }

  #header-component .header-logo__image-container--original {
    display: block;
  }

  #header-component .header-logo__image-container--inverse {
    display: none;
  }

  #header-component.header--transparent .header-logo__image-container--original {
    display: none;
  }

  #header-component.header--transparent .header-logo__image-container--inverse {
    display: block;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.logo",
  "tag": null,
  "class": "header-logo",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.edit_logo_in_theme_settings"
    },
    {
      "type": "image_picker",
      "id": "logo_transparent",
      "label": "Logo - Transparent Header"
    },
    {
      "type": "image_picker",
      "id": "logo_gradient",
      "label": "Logo - Gradient Header"
    },
    {
      "type": "header",
      "content": "t:content.visibility"
    },
    {
      "type": "checkbox",
      "id": "hide_logo_on_home_page",
      "label": "t:settings.hide_logo_on_home_page",
      "info": "t:info.hide_logo_on_home_page_help"
    },
    {
      "type": "header",
      "content": "t:content.padding_desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
